@media screen and (max-width: 740px) {
  .header_section {
    justify-content: center;
  }
  .header_section h1 {
    margin-left: 52px;
    margin-right: 44px;
  }
  .header_section h4 {
    margin-right: 115px;
  }
  .about_section p {
    margin-left: 0px;
    margin-bottom: 15px;
    text-align: left;
  }
  .achievements_section ul h3 {
    margin-bottom: 5px;
    margin-left: 5px;
  }
  .achievements_section ul li {
    margin-left: 0px;
    margin-bottom: 10px;
  }
}
@media screen and (max-width: 670px){
    .header_section h1 {
        margin-left: 0px;
        margin-right: 0px;
      }
      .header_section h4 {
        margin-right: 85px;
      }
      .about_section {
        margin-top: 30px;
        margin-left: 10px;
      }
      .about_section h2 {
        font-size: 30px;
      }
      .profile{
        margin-left: 5px;
      }
      .about_section p{
        margin-bottom: 30px;
      }
}